<div class="main top-main">
  <div class="top-message">
    <h2>Safe Compass</h2>
    <p>安全と確実な備えを整える新しいスタンダード</p>

    あなたの毎日を、もっと安心できるものに。準備も心配事も、もう怖くない。

    <div class="top-about">
    <p>「セーフコンパス」は、一人暮らしの女子大生のための、新しいタイプの備蓄支援アプリです。いつもの日常が、予期せぬ瞬間に、不安や心配事でいっぱいになることがあります。


    「セーフコンパス」は、ただの備蓄支援アプリではありません。一人暮らしをする女子大生のために、日常に溶け込む安心と安全のサポートを提供します。
    さあ、セーフコンパスと一緒に、あなたの毎日に安心をプラスしましょう。今日から、もっと心強く、もっと楽しく、一人暮らしを謳歌してみませんか？</p>
    </div>
    

    
    <div class="top-about">
    <h1>~機能説明~</h1> 

    「セーフコンパス」は、あなたの毎日をもっと安心で、心地よいものに変えるための、二つの核心機能を搭載しています。それが、「備蓄プラン」と「備蓄スコア」です。これらの機能は、一人暮らしの女子大生が直面する様々な不安や心配に対応し、自信を持って日常生活を送れるように設計されています。

      
    <div class="container">

        <div class="top-about-right">
          <img src= "<%= "/images./IMG_5588.JPG"%>">
          

         
            <li>
            <%= link_to("備蓄プラン", "/posts/index") %> 
            </li>

            <h2>あなたのスマートフォンが、突然の災害時でも安心の道しるべに。必要な備蓄品をリストアップし、常に最新の状態をキープ。あなたの準備がどれだけ進んでいるか、一目でわかります。</h2>
          

          </div>
        
            

          <div class="container">
          <div class="top-about-right">
          <img src= "<%= "/images./IMG_5589.JPG"%>">
            
              <li> 
              <%= link_to("備蓄スコア", "/posts/new") %>
              </li>
              <h2>備蓄品の準備状況を数字で示す「備蓄スコア」によって、あなたの備蓄の進捗状況を一目で確認できます。どの程度準備が整っているのか、何がまだ足りないのかがわかります。</h2>
              </div>
          </div>

          </div>
          </div>

         
          
          
      
          <div class="top-about">
          <p>「一人暮らしの女子大生のための安心パートナー」としてのセーフコンパスは、単に備えることの重要性を伝えるだけでなく、一人暮らしの楽しさと自立を全面的にサポートします。安心して生活できる環境があれば、新しい挑戦や夢に向かって、もっと自由に、もっと積極的に歩み出すことができます。セーフコンパスは、そんなあなたの強い味方です。







          </p>
          </div>
          
      
     


      </div>
    
         
     
      

      
      
      
   
    
  </div>
    
  </div>

    
 