  <div class="main posts-index">
    <div class="container">
      <% @post.each do |post| %>
        <div class="posts-index-item">
        <div class="post-left">
        <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
        <%= link_to("finished", "/likes/#{post.id}/destroy") %>
          <% else %>
          <%= link_to("not yet", "/likes/#{post.id}/create") %>
            <% end %>
            </div>
            <div class="post-right">
            <%= link_to(post.content, "/posts/#{post.id}") %>
            </div>
        
        </div>
      <% end %>
    </div>
  </div>